<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<a th:fragment="page_link(numberPage, textLink)" class="page-link"
   th:href="@{/product(
                               nameFilter=${param.nameFilter},
                               minPrice=${param.minPrice},
                               maxPrice=${param.maxPrice},
                               page=${numberPage},
                               size=${param.size},
                               sortField=${param.sortField})}"
   th:text="${textLink}"></a>

</html>