<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>EShop application</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EShop</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">List</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/product/new}">Add Product</a>
        </div>

        <form class="form-inline mt-3" method="get">
            <div class="form-group mx-sm-3 mb-2">
                <label for="name-filter" class="sr-only">Name filter:</label>
                <input th:value="${param.nameFilter}" type="text" class="form-control"
                       name="nameFilter" id="name-filter" placeholder="Name filter">

                <label for="minPrice-filter" class="sr-only">min price</label>
                <input th:value="${param.minPrice}" type="number" class="form-control"
                       name="minPrice" id="minPrice-filter" placeholder="min price" style="margin-left: 1rem">

                <label for="maxPrice-filter" class="sr-only">max price</label>
                <input th:value="${param.maxPrice}" type="number" class="form-control"
                       name="maxPrice" id="maxPrice-filter" placeholder="max price" style="margin-left: 1rem">

                <input type="hidden" id="page" name="page" th:value="1">
                <input type="hidden" id="size" name="size" th:value="${param.size}">
                <input type="hidden" id="sortField" name="sortField" th:value="${param.sortField}">
                <input type="hidden" id="sortDir" name="sortDir" th:value="${param.sortDir}">

            </div>
            <button type="submit" class="btn btn-primary mb-2">Apply</button>
        </form>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th th:replace="fragments/sort_header :: sort_header('Id', 'id')"></th>
                    <th th:replace="fragments/sort_header :: sort_header('Name', 'name')"></th>
                    <th th:replace="fragments/sort_header :: sort_header('Description', 'description')"></th>
                    <th th:replace="fragments/sort_header :: sort_header('Category', 'category.name')"></th>
                    <th th:replace="fragments/sort_header :: sort_header('Price', 'price')"></th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:unless="${products.empty}" th:each="product : ${products}">
                    <th scope="row" th:text="${product.id}">1</th>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.categoryName}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <a class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i
                                class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete" th:action="@{/product/{id}(id = ${product.id})}">
                            <button type="submit" class="btn btn-danger">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>

                <tr th:if="${products.empty}">
                    <td colspan="5">No data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${products.empty}" class="col-12">
            <div class="row">
                <div class="col-md-auto">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-left">
                            <li th:classappend="${products.number == 0} ? 'disabled'" class="page-item">
                                <a th:replace="fragments/page_link ::
                                 page_link('page-link', ${products.number}, ${products.size}, 'Previous')"></a>
                            </li>

                            <li th:each="num : ${#numbers.sequence(1, products.totalPages)}"
                                th:classappend="${num == products.number + 1} ? 'active'" class="page-item">
                                <a th:replace="fragments/page_link ::
                                 page_link('page-link', ${num}, ${products.size}, ${num})"></a>
                            </li>

                            <li th:classappend="${products.number + 1 == products.totalPages} ? 'disabled'"
                                class="page-item">
                                <a th:replace="fragments/page_link ::
                                 page_link('page-link', ${products.number + 2}, ${products.size}, 'Next')"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-auto">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle"
                                type="button" id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            show [[${products.size}]]
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a th:replace="fragments/page_link :: page_link('dropdown-item', 1, 5, 5)"></a>
                            <a th:replace="fragments/page_link :: page_link('dropdown-item', 1, 10, 10)"></a>
                            <a th:replace="fragments/page_link :: page_link('dropdown-item', 1, 20, 20)"></a>
                            <a th:replace="fragments/page_link :: page_link('dropdown-item', 1, 40, 40)"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
